/* .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.iconos--header {
    display: flex;
    gap: 2rem;
} */


/* .logo {
    height: 100px;
}

.imgcarrito {
    width: 2rem;
    height: 2rem;
}
li {
    list-style-type: none;
} */

/* MAIN */



.icono{
    justify-content: flex-end;
}

.row {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

/* html carrito */

.modal-contenedor {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img-carrito {
    width: 200px;
    padding: 20px;
}

.parrafo {
    font-weight: 700;
    font-style: italic;
}


/* botones agregar de tarjetas */

/* .button--container {
    text-align: center;
} */

/* .agregar-carrito {
    border-radius: 5px;
    text-decoration: none;
    color: green;
    background-color: white;
} */
.boton {
    opacity: 0;
}

/* Footer */

.footer {
    height: 500%;
    margin-top: 100px;
   
    color: black;
}
.texto--footer{
    text-align: center;
}


/* Modal */



/* para mobiles */

@media screen and (max-width:760px) {
    .header {
        display: flex;

    }

    .navbar-nav {
        display: none;
        list-style-type: none;
    }

    .iconos--header {
        display: flex;
        padding: 0 10px;

    }

    .logo {
        height: 60px;
    }

    .titulo--marca {
        text-align: center;
    }

    .container--tarjetas {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 2rem;
    }

    .ul--section {
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}